{% extends "index.html" %}

{% block title %} {{ title }} {% endblock title %}

{% block username %} <p id="username"> {{username}} </p> {% endblock username %}

{% block content %} 

<h3> Create Flip Card </h3>

<form method="POST">
	<label for="description"> Description </label>
	<input type="text" name="description" id="description" required autocomplete="off">

	<label for="front-side"> Front Side </label>
	<textarea id="front-side" name="front-side" required></textarea>

	<label for="back-side"> Back Side </label>
	<textarea id="back-side" name="back-side" required></textarea>

	<button type="submit" id="save"> Save </button>
</form>

<button type="button" id="discard"> <a href="/">Discard</a> </button>

{% endblock content %}