{% extends "index.html" %}

{% block title %} {{ title }} {% endblock title %}

{% block username %} <p id="username"> {{username}} </p> {% endblock username %}

{% block content %} 

<div class="container">
	{% for card in user.cards %}
		<article data-back="{{ card.back_side }}" data-description="{{card.description}}" class="turn-to-back">
			<button type="button" id="remove" data-id="{{card.id}}">-</button>
			<h2>{{card.description}}</h2>
			<p>{{ card.front_side }}</p>
		</article>
	{% endfor %}
</div>
	
<button type="button" id="back"><a href="/">Back</a></button>
{% endblock content %}