@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

body {
	width: 90%;
	margin: 4rem 3rem;
	font-size: 1.3rem;
	font-family: 'Concert One', "Open Sans", cursive;
	background-image: linear-gradient(to right, #8360c3, #2ebf91);
}

h1 {
	font-size: 2rem;
	margin-top: 5rem;
	margin-left: 5rem;
	text-decoration: underline;
}

header {
	display: block;
	text-align: center;
	font-size: 3rem;
	margin-bottom: 2rem;
	text-shadow: 0.09rem 0.09rem orangered;
}

img {
	width: 30rem;
	margin-top: 2rem;
	margin-left: calc(50% - 15rem);
}

img:hover {
	-webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-transition: 1s ease-in-out;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: right;
	align-items: center;
	padding: 0.5rem;
	border: 0.1rem solid black;
	background-color: darkgrey;
	background-image: linear-gradient(to left, #434343 0%, grey 90%);
}

nav > .links > a {
	padding-left: 1rem;
	padding-right: 1rem;
	text-decoration: none;
	color: black;
	text-shadow: 0.05rem 0.05rem red;
}

nav > .links > a:hover {
	color: darkgrey;
	text-decoration: underline;
}

nav #username {
	padding-right: 20rem;
	align-items: center;
	text-shadow: 0.05rem 0.05rem red;
	font-size: 1.5rem;
}

main {
	border: 0.1rem solid black;
	background-color: lightgrey;
	padding-bottom: 3rem;
}

h3 {
	margin-left: 40%;
}

form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 15rem;
	margin-left: 40%;
}

form > label, input, textarea {
	margin-bottom: 1rem;
}

button {
	margin-top: 1rem;
	width: 5rem;
	background-color: white;
	border: solid 0.1rem darkgray;
	font-family: 'Concert One', "Open Sans", cursive;
	cursor: pointer;	
}

button > a {
	text-decoration: none;
	color:black;
	font-size: 1rem;
}

#back {
	margin-left: 2rem;
}

#save {
	background-color: lightgreen;
	font-size: 1rem;
}

#discard {
	margin-left: 5rem;
	background-color: lightcoral;
	font-size: 1rem;
}

div.success {
	background-color: green;
}

div.error {
	background-color: red;
}

div.success, div.error {
	text-align: center;
	font-weight: bold;
}

textarea {
	resize: none;
	font-size: 1rem;
	padding-bottom: 2rem;
}

.container {
	margin-top: 2rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.container article {
	border: 0.1rem solid black;
	margin: 0 1rem 1rem 1rem;
	padding: 0 1rem 0 1rem;
}

#info {
	display: block;
	text-align: center;
	margin: 0 5rem 0 5rem;
}

span {
	font-weight: bold;
}